<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Pets</title>
</head>
<body>
<h1>Pets Assignment</h1>
<p>Check out these pets!</p>

<img src="images/pets.jpg" alt="Dog and Cat">

<a href="https://en.wikipedia.org/wiki/Dog">Read about dogs here</a>


</body>
</html>